* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.list {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.8rem;
}

.list li a {
  color: #333;
  font-family: "Poppins", sans-serif;
}

.login {
  padding: 1rem 2rem;
  background-color: var(--light-color);
  border-radius: 1rem;
}

.logo {
  cursor: pointer;
}

.list li a:hover {
  color: var(--primary-color);
  transition: 0.3s linear;
}

.container {
  margin-bottom: 50px;
  height: 82vh;
}

.main {
  background-image: url(./img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 600px;
  margin: 0 200px;
}

.hero {
  width: 70%;
  margin-top: 2rem;
}

.hero .hero-text {
  width: 60%;
  margin-bottom: 20px;
  margin-top: 1rem;
  margin-left: 4rem;
}

.hero-tittle {
  font-size: 4rem;
  margin-left: 4rem;
  margin-top: 2rem;
}

.hero-buttons {
  margin-left: 4rem;
  margin-top: 3rem;
}

.get-started {
  background-color: var(--primary-color);
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;
  color: #fff;
}

.btn {
  background-color: #f4f4f6;
  padding: 1rem 1.8rem;
  margin-left: 1rem;
  border-radius: 0.8rem;
  color: black;
}

.video-page {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-tittle {
  padding-top: 4rem;
  width: 80rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 400;
}

.video-img {
  height: 50rem;
  width: 80rem;
  padding-top: 2rem;
  cursor: pointer;
}

.video-btn {
  background-color: var(--primary-color);
  color: #fff;
  margin: 1.5rem 0 2.5rem;
  padding: 1rem 1.8rem;
  border-radius: 0.8rem;
  font-family: "Poppins", sans-serif;
}

.video-btn:hover {
  opacity: 0.8;
}

.grey-page {
  padding: 40px 0;
  background-color: #111111;
  color: #fff;
  height: 550px;
}

.dont-text {
  text-align: center;
  font-size: 3rem;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 6rem;
}

.card {
  width: 20%;
  background-color: #fff;
  color: black;
  border-radius: 1rem;
}
.card p {
  padding: 1rem;
}

.card p:nth-child(2) {
  margin-top: 30px;
  font-weight: bold;
}

.price-tittle {
  text-align: center;
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: 400;
}

.price-text {
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
  margin-top: 1rem;
}

.price-card {
  width: 80rem;
  margin: auto;
}

.cards2 {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

.card-white {
  background-color: var(--light-color);
  border-radius: 1rem;
  color: #333;
}

.cards2-tittle {
  margin: 5rem 0 0 1.5rem;
  font-size: 3.5rem;
  font-weight: 400;
}

.cards2-text {
  margin: 2rem 3.5rem 0 1.5rem;
  line-height: 2.4rem;
}

.card-pricing {
  margin: 4rem 0 3rem 1.5rem;
}

.dolar {
  font-size: 3.5rem;
}

.hr {
  width: 35rem;
  margin: auto;
}

.card-white ul {
  margin: 3rem 0 0 1.5rem;
}

.card-white ul li {
  margin-bottom: 1.5rem;
}

.card-black {
  background-color: #000;
  color: #fff;
  border-radius: 1rem;
}

.card-black-text {
  margin: 3rem 0 1.5rem 1.5rem;
}

.card-black ul {
  margin: 0 0 0 1rem;
}

.card-black ul li {
  margin-bottom: 1.5rem;
}

.cards-get {
  display: flex;
}

.cards-get a {
  margin: 2rem auto;
  padding: 1rem 13rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  font-weight: 600;
  color: #fff;
}

.cards-get:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.price-bottom-text {
  text-align: center;
  margin: 2rem 0;
}

.container h3 {
  text-align: center;
  padding-top: 6.5rem;
  font-size: 3.5rem;
  font-weight: 400;
}

.page5-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  margin: auto;
  border-radius: 1rem;
}

.page5-text1 {
  margin: 1rem 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 500;
}

.page5-text2 {
  margin: 1rem 1.5rem;
  font-weight: 500;
}

.page5-text3 {
  margin: 1rem 1.5rem;
  font-weight: 500;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;
}
  

.plus-text {
  display: flex;
}

.plus-text-p {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 2rem;
  width: 77rem;
}

.plus-text i {
  margin: 2.5rem 0 0 3rem;
}

.plus-bottom-text {
  margin: 4rem 0 2rem 0;
  width: 77rem;
}

.hr-page5 {
  display: flex;
  justify-content: center;
}

.page5-hr {
  width: 82rem;
}

.footer-div1 {
  background-color: #000;
  color: #fff;
  margin-top: 750px;
  width: 100vw;
}

.footer-bgc {
  width: 110rem;
  margin: auto;
}

.footer-bgc a img {
  margin: 2.5rem 0 0 0;
}

.four-box {
  display: flex;
  height: 27rem;
}

.subriction {
  width: 38rem;
  height: 23rem;
  margin-top: 2rem;
  color: var(--dark-color);
  background-color: #fff;
  border-radius: 1rem;
}

.subriction h5 {
  padding: 1rem 0 1rem 1rem;
  font-weight: 700;
}

.subriction p {
  padding-left: 1rem;
}

.subriction input {
  width: 35rem;
  height: 3.5rem;
  padding-left: 1rem;
  margin-top: 3rem;
  border-radius: 0.5rem;
}
.input {
  padding-left: 1rem;
}

.footer-btn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.footer-btn a {
  width: 35.3rem;
  text-align: center;
  background-color: var(--primary-color);
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 400;
}

.footer-btn:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.company {
  height: 23rem;
  margin: 2rem 0 0 4.8rem;
}

.company :nth-child(1) {
  margin-top: 2.5rem;
  font-weight: 700;
  cursor: auto;
}

.company :nth-child(2) {
  margin-top: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  color: #cccccc;
}

.company :nth-child(3) {
  margin-top: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  color: #cccccc;
}

.company :nth-child(4) {
  margin-top: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  color: #cccccc;
}

.resources {
  height: 23rem;
  margin: 2rem 0 0 10rem;
}

.resources :nth-child(1) {
  margin-top: 2.5rem;
  font-weight: 700;
  cursor: auto;
}

.resources :nth-child(2) {
  margin-top: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  color: #cccccc;
}

.resources :nth-child(3) {
  margin-top: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  color: #cccccc;
}

.resources :nth-child(4) {
  margin-top: 1.5rem;
  font-weight: 300;
  cursor: pointer;
  color: #cccccc;
}

.contact {
  height: 23rem;
  margin: 2rem 0 0 10rem;
}

.contact :nth-child(1) {
  margin-top: 6.5rem;
  font-weight: 700;
  cursor: auto;
}

.contact :nth-child(2) {
  margin-top: 1.5rem;
  color: #cccccc;
  cursor: pointer;
}

.footer-icon {
  padding-bottom: 3rem;
}

.footer-icon i {
  font-size: 3rem;
}

.footer-icon :nth-child(2) {
  margin-left: 1.5rem;
}

@media (max-width: 1270px) {
  .card {
    width: 390px;
  }
}

@media (max-width: 1080px) {
  .company {
    margin-left: 1rem;
  }
  .resources {
    margin-left: 1rem;
  }
  .contact {
    margin-left: 1rem;
  }
  .hero-tittle {
    font-size: 3rem;
  }
  .hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 850px) {
  .four-box {
    display: flex;
    flex-direction: column;
    height: 800px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .grey-page {
    height: 1000px;
  }

  .cards2 {
    flex-direction: column;
  }

  .hr {
    width: 95%;
  }

  .container {
    display: flex;
    flex-direction: column;

    .main {
      background-image: url(./img/hero-bg-mobile.png);
      background-position: bottom;
      height: 100%;
      width: 100%;
      margin-left: 0;
      background-size: 450px 400px;
    }
  }

  .hero {
    width: 450px;
    margin: auto;
  }

  .get-started {
    width: 50%;
    margin: auto;
  }

  .btn {
    width: 50%;
    margin: auto;
  }

  .video-img {
    width: 50rem;
  }

  .video-tittle {
    width: 50rem;
  }

  .footer-div1 {
    margin-top: 800px;
  }

  .equal {
    width: 500px;
  }

  .plus-text {
    width: 500px;
  }

  .plus-bottom-text {
    width: 500px;
  }

  .card-white {
    width: 400px;
    margin-left: 75px;
  }

  .card-black {
    width: 400px;
    margin-left: 75px;
  }
}
